# Constraints specific to '690 MP7

INST infra/eth/phy/*/gthe2_i LOC=GTHE2_CHANNEL_X1Y36;

##-------------------------------------------------------------------------------------
## Trigger Path clock domain jump from TTC based clock to link clock
##-------------------------------------------------------------------------------------

# Async output flipflops used for 240MHz to 250MHz domain crossing in Tx path
INST "*tx_clk_bridge/data_out*" TNM = "tx_cdc_downstream_ff";
# Async input flipflops for 240MHz to 250MHz clk domain crossing.
INST "*tx_clk_bridge/buf*" TNM = "tx_cdc_upstream_ff";
# Data will be latched into link clk domain after a minimum of 4.0 ns
# Data valid sampled on downstream clk rising edge, then falling edge.
# Data registered on next rising edge of downstream clk at which time it must be stable.
TIMESPEC TS_tx_cdc = FROM "tx_cdc_upstream_ff" TO "tx_cdc_downstream_ff" 4.0 ns DATAPATHONLY; 

# Unroutable Placement! A MMCM / BUFH clock component pair have
# been found that are not placed at a routable MMCM / BUFH site pair. The MMCM
# component <ttc/clocks/mmcm> is placed at site <MMCME2_ADV_X1Y2>. The
# corresponding BUFH component <ttc/clocks/bufr_40s> is placed at site
# <BUFHCE_X1Y119>. The MMCM can use the fast path between the MMCM and the BUFH
# if they are placed either in the same clock region, or in adjacent horizontal
# clock regions.

# INST ttc/clocks/mmcm LOC=MMCME2_ADV_X0Y9; # temp commented out for tests

NET REFCLK* DIFF_TERM=TRUE | TNM_NET=mgtclk_125;
TIMESPEC TS_mgtclk_125 = PERIOD mgtclk_125 8ns;
NET "*/gth_quad_wrapper_jj_inst/txusrclk*" TNM_NET=mgtclk_250;
NET "*/gth_quad_wrapper_jj_inst/rxusrclk*" TNM_NET=mgtclk_250;
TIMESPEC TS_mgtclk_250 = PERIOD mgtclk_250 4.ns;

AREA_GROUP ctrl RANGE=CLOCKREGION_X1Y9;
AREA_GROUP readout RANGE=CLOCKREGION_X0Y9;
AREA_GROUP payload RANGE=SLICE_X24Y0:SLICE_X191Y449;
AREA_GROUP payload RANGE=RAMB36_X2Y0:RAMB36_X12Y89;
AREA_GROUP payload RANGE=RAMB18_X2Y0:RAMB18_X12Y179;

NET REFCLKP<0> LOC=J35;
NET REFCLKN<0> LOC=J36;
NET REFCLKP<1> LOC=U35;
NET REFCLKN<1> LOC=U36;
NET REFCLKP<2> LOC=AH37;
NET REFCLKN<2> LOC=AH38;
NET REFCLKP<3> LOC=J10;
NET REFCLKN<3> LOC=J9;
NET REFCLKP<4> LOC=W10;
NET REFCLKN<4> LOC=W9;
NET REFCLKP<5> LOC=AF8;
NET REFCLKN<5> LOC=AF7;
NET REFCLKP<6> LOC=AT37;
NET REFCLKN<6> LOC=AT38;
NET REFCLKP<7> LOC=AT8;
NET REFCLKN<7> LOC=AT7;

# Area group definitions

AREA_GROUP quad_x1y8 RANGE=SLICE_X192Y400:SLICE_X221Y449;
AREA_GROUP quad_x1y8 RANGE=RAMB18_X14Y160:RAMB18_X14Y179,RAMB18_X13Y170:RAMB18_X13Y179;
AREA_GROUP quad_x1y7 RANGE=SLICE_X192Y350:SLICE_X221Y399;
AREA_GROUP quad_x1y7 RANGE=RAMB18_X14Y140:RAMB18_X14Y159,RAMB18_X13Y140:RAMB18_X13Y149;
AREA_GROUP quad_x1y6 RANGE=SLICE_X192Y300:SLICE_X221Y349;
AREA_GROUP quad_x1y6 RANGE=RAMB18_X13Y120:RAMB18_X14Y139;
AREA_GROUP quad_x1y5 RANGE=SLICE_X192Y250:SLICE_X221Y299;
AREA_GROUP quad_x1y5 RANGE=RAMB18_X14Y100:RAMB18_X14Y119,RAMB18_X13Y110:RAMB18_X13Y119;
AREA_GROUP quad_x1y4 RANGE=SLICE_X192Y200:SLICE_X221Y249;
AREA_GROUP quad_x1y4 RANGE=RAMB18_X14Y80:RAMB18_X14Y99,RAMB18_X13Y80:RAMB18_X13Y89;
AREA_GROUP quad_x1y3 RANGE=SLICE_X192Y150:SLICE_X221Y199;
AREA_GROUP quad_x1y3 RANGE=RAMB18_X13Y60:RAMB18_X14Y79;
AREA_GROUP quad_x1y2 RANGE=SLICE_X192Y100:SLICE_X221Y149;
AREA_GROUP quad_x1y2 RANGE=RAMB18_X14Y40:RAMB18_X14Y59,RAMB18_X13Y50:RAMB18_X13Y59;
AREA_GROUP quad_x1y1 RANGE=SLICE_X192Y50:SLICE_X221Y99;
AREA_GROUP quad_x1y1 RANGE=RAMB18_X14Y20:RAMB18_X14Y39,RAMB18_X13Y20:RAMB18_X13Y29;
AREA_GROUP quad_x1y0 RANGE=SLICE_X192Y0:SLICE_X221Y49;
AREA_GROUP quad_x1y0 RANGE=RAMB18_X13Y0:RAMB18_X14Y19;
AREA_GROUP quad_x0y0 RANGE=SLICE_X0Y0:SLICE_X23Y49;
AREA_GROUP quad_x0y0 RANGE=RAMB18_X0Y0:RAMB18_X1Y19;
AREA_GROUP quad_x0y1 RANGE=SLICE_X0Y50:SLICE_X23Y99;
AREA_GROUP quad_x0y1 RANGE=RAMB18_X0Y20:RAMB18_X1Y39;
AREA_GROUP quad_x0y2 RANGE=SLICE_X0Y100:SLICE_X23Y149;
AREA_GROUP quad_x0y2 RANGE=RAMB18_X0Y40:RAMB18_X1Y59;
AREA_GROUP quad_x0y3 RANGE=SLICE_X0Y150:SLICE_X23Y199;
AREA_GROUP quad_x0y3 RANGE=RAMB18_X0Y60:RAMB18_X1Y79;
AREA_GROUP quad_x0y4 RANGE=SLICE_X0Y200:SLICE_X23Y249;
AREA_GROUP quad_x0y4 RANGE=RAMB18_X0Y80:RAMB18_X1Y99;
AREA_GROUP quad_x0y5 RANGE=SLICE_X0Y250:SLICE_X23Y299;
AREA_GROUP quad_x0y5 RANGE=RAMB18_X0Y100:RAMB18_X1Y119;
AREA_GROUP quad_x0y6 RANGE=SLICE_X0Y300:SLICE_X23Y349;
AREA_GROUP quad_x0y6 RANGE=RAMB18_X0Y120:RAMB18_X1Y139;
AREA_GROUP quad_x0y7 RANGE=SLICE_X0Y350:SLICE_X23Y399;
AREA_GROUP quad_x0y7 RANGE=RAMB18_X0Y140:RAMB18_X1Y159;
AREA_GROUP quad_x0y8 RANGE=SLICE_X0Y400:SLICE_X23Y449;
AREA_GROUP quad_x0y8 RANGE=RAMB18_X0Y160:RAMB18_X1Y179;

# Datapath constraints

INST "datapath/*/qgen[0]*" AREA_GROUP=quad_x1y8;
INST "datapath/*/qgen[1]*" AREA_GROUP=quad_x1y7;
INST "datapath/*/qgen[2]*" AREA_GROUP=quad_x1y6;
INST "datapath/*/qgen[3]*" AREA_GROUP=quad_x1y5;
INST "datapath/*/qgen[4]*" AREA_GROUP=quad_x1y4;
INST "datapath/*/qgen[5]*" AREA_GROUP=quad_x1y3;
INST "datapath/*/qgen[6]*" AREA_GROUP=quad_x1y2;
INST "datapath/*/qgen[7]*" AREA_GROUP=quad_x1y1;
INST "datapath/*/qgen[8]*" AREA_GROUP=quad_x1y0;
INST "datapath/*/qgen[9]*" AREA_GROUP=quad_x0y0;
INST "datapath/*/qgen[10]*" AREA_GROUP=quad_x0y1;
INST "datapath/*/qgen[11]*" AREA_GROUP=quad_x0y2;
INST "datapath/*/qgen[12]*" AREA_GROUP=quad_x0y3;
INST "datapath/*/qgen[13]*" AREA_GROUP=quad_x0y4;
INST "datapath/*/qgen[14]*" AREA_GROUP=quad_x0y5;
INST "datapath/*/qgen[15]*" AREA_GROUP=quad_x0y6;
INST "datapath/*/qgen[16]*" AREA_GROUP=quad_x0y7;
INST "datapath/*/qgen[17]*" AREA_GROUP=quad_x0y8;

INST datapath/mgt/qgen[0].quad/*/g_gt_instances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y32;
INST datapath/mgt/qgen[0].quad/*/g_gt_instances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y33;
INST datapath/mgt/qgen[0].quad/*/g_gt_instances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y34;
INST datapath/mgt/qgen[0].quad/*/g_gt_instances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y35;
INST datapath/mgt/qgen[0].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y8;

# INST datapath/mgt/qgen[1].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y28;
# INST datapath/mgt/qgen[1].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y29;
# INST datapath/mgt/qgen[1].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y30;
# INST datapath/mgt/qgen[1].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y31;
# INST datapath/mgt/qgen[1].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y7;
 
# INST datapath/mgt/qgen[2].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y24;
# INST datapath/mgt/qgen[2].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y25;
# INST datapath/mgt/qgen[2].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y26;
# INST datapath/mgt/qgen[2].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y27;
# INST datapath/mgt/qgen[2].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y6;

# INST datapath/mgt/qgen[3].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y20;
# INST datapath/mgt/qgen[3].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y21;
# INST datapath/mgt/qgen[3].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y22;
# INST datapath/mgt/qgen[3].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y23;
# INST datapath/mgt/qgen[3].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y5;
 
# INST datapath/mgt/qgen[4].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y16;
# INST datapath/mgt/qgen[4].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y17;
# INST datapath/mgt/qgen[4].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y18;
# INST datapath/mgt/qgen[4].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y19;
# INST datapath/mgt/qgen[4].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y4;
 
# INST datapath/mgt/qgen[5].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y12;
# INST datapath/mgt/qgen[5].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y13;
# INST datapath/mgt/qgen[5].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y14;
# INST datapath/mgt/qgen[5].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y15;
# INST datapath/mgt/qgen[5].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y3;
 
# INST datapath/mgt/qgen[6].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y8;
# INST datapath/mgt/qgen[6].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y9;
# INST datapath/mgt/qgen[6].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y10;
# INST datapath/mgt/qgen[6].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y11;
# INST datapath/mgt/qgen[6].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y2;

# INST datapath/mgt/qgen[7].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y4;
# INST datapath/mgt/qgen[7].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y5;
# INST datapath/mgt/qgen[7].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y6;
# INST datapath/mgt/qgen[7].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y7;
# INST datapath/mgt/qgen[7].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y1;
 
# INST datapath/mgt/qgen[8].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y0;
# INST datapath/mgt/qgen[8].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y1;
# INST datapath/mgt/qgen[8].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y2;
# INST datapath/mgt/qgen[8].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X1Y3;
# INST datapath/mgt/qgen[8].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X1Y0;

# INST datapath/mgt/qgen[9].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y0;
# INST datapath/mgt/qgen[9].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y1;
# INST datapath/mgt/qgen[9].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y2;
# INST datapath/mgt/qgen[9].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y3;
# INST datapath/mgt/qgen[9].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y0;

# INST datapath/mgt/qgen[10].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y4;
# INST datapath/mgt/qgen[10].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y5;
# INST datapath/mgt/qgen[10].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y6;
# INST datapath/mgt/qgen[10].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y7;
# INST datapath/mgt/qgen[10].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y1;

# INST datapath/mgt/qgen[11].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y8;
# INST datapath/mgt/qgen[11].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y9;
# INST datapath/mgt/qgen[11].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y10;
# INST datapath/mgt/qgen[11].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y11;
# INST datapath/mgt/qgen[11].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y2;

# INST datapath/mgt/qgen[12].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y12;
# INST datapath/mgt/qgen[12].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y13;
# INST datapath/mgt/qgen[12].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y14;
# INST datapath/mgt/qgen[12].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y15;
# INST datapath/mgt/qgen[12].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y3;

# INST datapath/mgt/qgen[13].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y16;
# INST datapath/mgt/qgen[13].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y17;
# INST datapath/mgt/qgen[13].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y18;
# INST datapath/mgt/qgen[13].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y19;
# INST datapath/mgt/qgen[13].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y4;

# INST datapath/mgt/qgen[14].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y20;
# INST datapath/mgt/qgen[14].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y21;
# INST datapath/mgt/qgen[14].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y22;
# INST datapath/mgt/qgen[14].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y23;
# INST datapath/mgt/qgen[14].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y5;

# INST datapath/mgt/qgen[15].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y24;
# INST datapath/mgt/qgen[15].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y25;
# INST datapath/mgt/qgen[15].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y26;
# INST datapath/mgt/qgen[15].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y27;
# INST datapath/mgt/qgen[15].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y6;

# INST datapath/mgt/qgen[16].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y28;
# INST datapath/mgt/qgen[16].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y29;
# INST datapath/mgt/qgen[16].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y30;
# INST datapath/mgt/qgen[16].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y31;
# INST datapath/mgt/qgen[16].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y7;

# INST datapath/mgt/qgen[17].quad/*/g_gt_# INSTances[0]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y32;
# INST datapath/mgt/qgen[17].quad/*/g_gt_# INSTances[1]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y33;
# INST datapath/mgt/qgen[17].quad/*/g_gt_# INSTances[2]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y34;
# INST datapath/mgt/qgen[17].quad/*/g_gt_# INSTances[3]*/gthe2_i LOC=GTHE2_CHANNEL_X0Y35;
# INST datapath/mgt/qgen[17].quad/*/gthe2_common_i LOC=GTHE2_COMMON_X0Y8;

