# Constraints specific to '485 MP7

INST ctrl/eth/phy/*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y24;

# TTC to link clock bridge stuff?

NET REFCLK* DIFF_TERM=TRUE | TNM_NET=mgtclk_160;
NET */gtx_quad_wrapper_jj_inst/txusrclk* TNM_NET=mgtclk_160;
NET */gtx_quad_wrapper_jj_inst/rxusrclk* TNM_NET=mgtclk_160;
TIMESPEC TS_mgtclk_160 = PERIOD mgtclk_160 6.25ns;

AREA_GROUP ipbus RANGE=CLOCKREGION_X1Y6; 
INST ttc/clocks/mmcm LOC=MMCME2_ADV_X0Y6;

NET REFCLKP<0> LOC=J35;
NET REFCLKN<0> LOC=J36;
NET REFCLKP<1> LOC=U35;
NET REFCLKN<1> LOC=U36;
NET REFCLKP<2> LOC=AH37;
NET REFCLKN<2> LOC=AH38;
NET REFCLKP<3> LOC=J10;
NET REFCLKN<3> LOC=J9;
NET REFCLKP<4> LOC=W10;
NET REFCLKN<4> LOC=W9;
NET REFCLKP<5> LOC=AF8;
NET REFCLKN<5> LOC=AF7;

# Lock down BUFH into correct clock regions.  Automatic placement 
# is not optimum and thus clk resources are overloaded in a clk region.
# e.g. BUFH for refclk(2) & refclk(5) are placed in the same clk region.

INST "mgt/rgen[0].bufh_refclk" LOC=BUFHCE_X0Y48; #AREA_GROUP=quad_x0y4;
INST "mgt/rgen[1].bufh_refclk" LOC=BUFHCE_X0Y24; #AREA_GROUP=quad_x0y2;
INST "mgt/rgen[2].bufh_refclk" LOC=BUFHCE_X0Y0; #AREA_GROUP=quad_x0y0;
INST "mgt/rgen[3].bufh_refclk" LOC=BUFHCE_X1Y48; #AREA_GROUP=quad_x1y4;
INST "mgt/rgen[4].bufh_refclk" LOC=BUFHCE_X1Y24; #AREA_GROUP=quad_x1y2;
INST "mgt/rgen[5].bufh_refclk" LOC=BUFHCE_X1Y0; #AREA_GROUP=quad_x1y0;

# Quad area constraints

# INST "mgt/quad_gen[6]*" AREA_GROUP=quad_x0y0;
# INST "buffers/quad_gen[6]*" AREA_GROUP=quad_x0y0;
# # INST "header/quad_gen[6]*" AREA_GROUP=quad_x0y0;
# INST "cnt/bgen[6]*" AREA_GROUP=quad_x0y0;
# #AREA_GROUP quad_x0y0 RANGE=CLOCKREGION_X0Y0;
# AREA_GROUP quad_x0y0 RANGE=SLICE_X0Y0:SLICE_X35Y49;
# AREA_GROUP quad_x0y0 RANGE=RAMB36_X3Y0:RAMB36_X4Y9;
# AREA_GROUP quad_x0y0 RANGE=RAMB18_X1Y0:RAMB18_X2Y19;
# INST mgt/quad_gen[6].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y0;
# INST mgt/quad_gen[6].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y1;
# INST mgt/quad_gen[6].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y2;
# INST mgt/quad_gen[6].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y3;
# INST mgt/quad_gen[6].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y0;
# 
# 
# INST "mgt/quad_gen[7]*" AREA_GROUP=quad_x0y1;
# INST "buffers/quad_gen[7]*" AREA_GROUP=quad_x0y1;
# # INST "header/quad_gen[7]*" AREA_GROUP=quad_x0y1;
# INST "cnt/bgen[7]*" AREA_GROUP=quad_x0y1;
# #AREA_GROUP quad_x0y1 RANGE=CLOCKREGION_X0Y1;
# AREA_GROUP quad_x0y1 RANGE=SLICE_X0Y50:SLICE_X35Y99;
# AREA_GROUP quad_x0y1 RANGE=RAMB36_X3Y10:RAMB36_X4Y19;
# AREA_GROUP quad_x0y1 RANGE=RAMB18_X1Y20:RAMB18_X2Y39;
# INST mgt/quad_gen[7].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y4;
# INST mgt/quad_gen[7].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y5;
# INST mgt/quad_gen[7].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y6;
# INST mgt/quad_gen[7].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y7;
# INST mgt/quad_gen[7].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y1;
# 
# INST "mgt/quad_gen[8]*" AREA_GROUP=quad_x0y2;
# INST "buffers/quad_gen[8]*" AREA_GROUP=quad_x0y2;
# # INST "header/quad_gen[8]*" AREA_GROUP=quad_x0y2;
# INST "cnt/bgen[8]*" AREA_GROUP=quad_x0y2;
# #AREA_GROUP quad_x0y2 RANGE=CLOCKREGION_X0Y2;
# AREA_GROUP quad_x0y2 RANGE=SLICE_X0Y100:SLICE_X35Y149;
# AREA_GROUP quad_x0y2 RANGE=RAMB36_X3Y20:RAMB36_X4Y29;
# AREA_GROUP quad_x0y2 RANGE=RAMB18_X1Y40:RAMB18_X2Y59;
# INST mgt/quad_gen[8].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y8;
# INST mgt/quad_gen[8].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y9;
# INST mgt/quad_gen[8].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y10;
# INST mgt/quad_gen[8].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y11;
# INST mgt/quad_gen[8].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y2;
# 
# INST "mgt/quad_gen[9]*" AREA_GROUP=quad_x0y3;
# INST "buffers/quad_gen[9]*" AREA_GROUP=quad_x0y3;
# # INST "header/quad_gen[9]*" AREA_GROUP=quad_x0y3;
# INST "cnt/bgen[9]*" AREA_GROUP=quad_x0y3;
# #AREA_GROUP quad_x0y3 RANGE=CLOCKREGION_X0Y3;
# AREA_GROUP quad_x0y3 RANGE=SLICE_X0Y150:SLICE_X35Y199;
# AREA_GROUP quad_x0y3 RANGE=RAMB36_X3Y30:RAMB36_X4Y39;
# AREA_GROUP quad_x0y3 RANGE=RAMB18_X1Y60:RAMB18_X2Y79;
# INST mgt/quad_gen[9].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y12;
# INST mgt/quad_gen[9].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y13;
# INST mgt/quad_gen[9].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y14;
# INST mgt/quad_gen[9].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y15;
# INST mgt/quad_gen[9].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y3;
# 
# INST "mgt/quad_gen[10]*" AREA_GROUP=quad_x0y4;
# INST "buffers/quad_gen[10]*" AREA_GROUP=quad_x0y4;
# # INST "header/quad_gen[10]*" AREA_GROUP=quad_x0y4;
# INST "cnt/bgen[10]*" AREA_GROUP=quad_x0y4;
# #AREA_GROUP quad_x0y4 RANGE=CLOCKREGION_X0Y4;
# AREA_GROUP quad_x0y4 RANGE=SLICE_X0Y200:SLICE_X35Y249;
# AREA_GROUP quad_x0y4 RANGE=RAMB36_X3Y40:RAMB36_X4Y49;
# AREA_GROUP quad_x0y4 RANGE=RAMB18_X1Y80:RAMB18_X2Y99;
# INST mgt/quad_gen[10].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y16;
# INST mgt/quad_gen[10].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y17;
# INST mgt/quad_gen[10].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y18;
# INST mgt/quad_gen[10].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y19;
# INST mgt/quad_gen[10].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y4;
# 
# INST "mgt/quad_gen[11]*" AREA_GROUP=quad_x0y5;
# INST "buffers/quad_gen[11]*" AREA_GROUP=quad_x0y5;
# # INST "header/quad_gen[11]*" AREA_GROUP=quad_x0y5;
# INST "cnt/bgen[11]*" AREA_GROUP=quad_x0y5;
# #AREA_GROUP quad_x0y5 RANGE=CLOCKREGION_X0Y5;
# AREA_GROUP quad_x0y5 RANGE=SLICE_X0Y250:SLICE_X35Y299;
# AREA_GROUP quad_x0y5 RANGE=RAMB36_X3Y50:RAMB36_X4Y59;
# AREA_GROUP quad_x0y5 RANGE=RAMB18_X1Y100:RAMB18_X2Y119;
# INST mgt/quad_gen[11].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y20;
# INST mgt/quad_gen[11].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y21;
# INST mgt/quad_gen[11].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y22;
# INST mgt/quad_gen[11].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y23;
# INST mgt/quad_gen[11].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X0Y5;

INST "mgt/quad_gen[0]*" AREA_GROUP=quad_x1y5;
INST "buffers/quad_gen[0]*" AREA_GROUP=quad_x1y5;
# INST "header/quad_gen[0]*" AREA_GROUP=quad_x1y5;
INST "cnt/bgen[0]*" AREA_GROUP=quad_x1y5;
#AREA_GROUP quad_x1y5 RANGE=CLOCKREGION_X1Y5;
AREA_GROUP quad_x1y5 RANGE=SLICE_X186Y250:SLICE_X221Y299;
AREA_GROUP quad_x1y5 RANGE=RAMB36_X11Y50:RAMB36_X12Y59;
AREA_GROUP quad_x1y5 RANGE=RAMB18_X13Y100:RAMB18_X14Y119;  
INST mgt/quad_gen[0].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y20;
INST mgt/quad_gen[0].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y21;
INST mgt/quad_gen[0].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y22;
INST mgt/quad_gen[0].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y23;
INST mgt/quad_gen[0].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y5;

# INST "mgt/quad_gen[1]*" AREA_GROUP=quad_x1y4;
# INST "buffers/quad_gen[1]*" AREA_GROUP=quad_x1y4;
# # INST "header/quad_gen[1]*" AREA_GROUP=quad_x1y4;
# INST "cnt/bgen[1]*" AREA_GROUP=quad_x1y4;
# #AREA_GROUP quad_x1y4 RANGE=CLOCKREGION_X1Y4;
# AREA_GROUP quad_x1y4 RANGE=SLICE_X186Y200:SLICE_X221Y249;
# AREA_GROUP quad_x1y4 RANGE=RAMB36_X11Y40:RAMB36_X12Y49;
# AREA_GROUP quad_x1y4 RANGE=RAMB18_X13Y80:RAMB18_X14Y99;
# INST mgt/quad_gen[1].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y16;
# INST mgt/quad_gen[1].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y17;
# INST mgt/quad_gen[1].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y18;
# INST mgt/quad_gen[1].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y19;
# INST mgt/quad_gen[1].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y4;
# 
# INST "mgt/quad_gen[2]*" AREA_GROUP=quad_x1y3;
# INST "buffers/quad_gen[2]*" AREA_GROUP=quad_x1y3;
# # INST "header/quad_gen[2]*" AREA_GROUP=quad_x1y3;
# INST "cnt/bgen[2]*" AREA_GROUP=quad_x1y3;
# #AREA_GROUP quad_x1y3 RANGE=CLOCKREGION_X1Y3;
# AREA_GROUP quad_x1y3 RANGE=SLICE_X186Y150:SLICE_X221Y199;
# AREA_GROUP quad_x1y3 RANGE=RAMB36_X11Y30:RAMB36_X12Y39;
# AREA_GROUP quad_x1y3 RANGE=RAMB18_X13Y60:RAMB18_X14Y79;
# INST mgt/quad_gen[2].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y12;
# INST mgt/quad_gen[2].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y13;
# INST mgt/quad_gen[2].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y14;
# INST mgt/quad_gen[2].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y15;
# INST mgt/quad_gen[2].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y3;
# 
# INST "mgt/quad_gen[3]*" AREA_GROUP=quad_x1y2;
# INST "buffers/quad_gen[3]*" AREA_GROUP=quad_x1y2;
# # INST "header/quad_gen[3]*" AREA_GROUP=quad_x1y2;
# INST "cnt/bgen[3]*" AREA_GROUP=quad_x1y2;
# #AREA_GROUP quad_x1y2 RANGE=CLOCKREGION_X1Y2;
# AREA_GROUP quad_x1y2 RANGE=SLICE_X186Y100:SLICE_X221Y149;
# AREA_GROUP quad_x1y2 RANGE=RAMB36_X11Y20:RAMB36_X12Y29;
# AREA_GROUP quad_x1y2 RANGE=RAMB18_X13Y40:RAMB18_X14Y59;
# INST mgt/quad_gen[3].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y8;
# INST mgt/quad_gen[3].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y9;
# INST mgt/quad_gen[3].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y10;
# INST mgt/quad_gen[3].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y11;
# INST mgt/quad_gen[3].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y2;
# 
# INST "mgt/quad_gen[4]*" AREA_GROUP=quad_x1y1;
# INST "buffers/quad_gen[4]*" AREA_GROUP=quad_x1y1;
# # INST "header/quad_gen[4]*" AREA_GROUP=quad_x1y1;
# INST "cnt/bgen[4]*" AREA_GROUP=quad_x1y1;
# #AREA_GROUP quad_x1y1 RANGE=CLOCKREGION_X1Y1;
# AREA_GROUP quad_x1y1 RANGE=SLICE_X186Y50:SLICE_X221Y99;
# AREA_GROUP quad_x1y1 RANGE=RAMB36_X11Y10:RAMB36_X12Y19;
# AREA_GROUP quad_x1y1 RANGE=RAMB18_X13Y20:RAMB18_X14Y39;
# INST mgt/quad_gen[4].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y4;
# INST mgt/quad_gen[4].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y5;
# INST mgt/quad_gen[4].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y6;
# INST mgt/quad_gen[4].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y7;
# INST mgt/quad_gen[4].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y1;
# 
# INST "mgt/quad_gen[5]*" AREA_GROUP=quad_x1y0;
# INST "buffers/quad_gen[5]*" AREA_GROUP=quad_x1y0;
# # INST "header/quad_gen[5]*" AREA_GROUP=quad_x1y0;
# INST "cnt/bgen[5]*" AREA_GROUP=quad_x1y0;
# #AREA_GROUP quad_x1y0 RANGE=CLOCKREGION_X1Y0;
# AREA_GROUP quad_x1y0 RANGE=SLICE_X186Y0:SLICE_X221Y49;
# AREA_GROUP quad_x1y0 RANGE=RAMB36_X11Y0:RAMB36_X12Y9;
# AREA_GROUP quad_x1y0 RANGE=RAMB18_X13Y0:RAMB18_X14Y19;
# INST mgt/quad_gen[5].quad/*/g_gt_instances[0]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y0;
# INST mgt/quad_gen[5].quad/*/g_gt_instances[1]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y1;
# INST mgt/quad_gen[5].quad/*/g_gt_instances[2]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y2;
# INST mgt/quad_gen[5].quad/*/g_gt_instances[3]*/gtxe2_i LOC=GTXE2_CHANNEL_X1Y3;
# INST mgt/quad_gen[5].quad/*/gtxe2_common_i LOC=GTXE2_COMMON_X1Y0;



