

NET "tcka"  LOC = "N9" | IOSTANDARD = LVCMOS33; # AMC_JTAG_TCK, N9
NET "tdia"  LOC = "M8" | IOSTANDARD = LVCMOS33; # AMC_JTAG_TDI, M8
NET "tdoa"  LOC = "P8" | IOSTANDARD = LVCMOS33  | SLEW = SLOW; # AMC_JTAG_TDO_PRE_TERM, P8
NET "tmsa"  LOC = "T8" | IOSTANDARD = LVCMOS33; # AMC_JTAG_TMS, T8

NET "tckb"  LOC = "T7" | IOSTANDARD = LVCMOS33; # HDR_JTAG_TCK, T7
NET "tdib"  LOC = "T6" | IOSTANDARD = LVCMOS33; # HDR_JTAG_TDI, T6
NET "tdob"  LOC = "N8" | IOSTANDARD = LVCMOS33  | SLEW = SLOW; # HDR_JTAG_TDO_PRE_TERM, N8
NET "tmsb"  LOC = "R8" | IOSTANDARD = LVCMOS33; # HDR_JTAG_TMS, R8

# FPGA
NET "tcko<0>"  LOC = "E16" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # FPGA_JTAG_TCK_PRE_TERM, E16
NET "tdio<0>"  LOC = "F15" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # FPGA_JTAG_TDI_PRE_TERM, F15
NET "tdoo<0>"  LOC = "H12" | IOSTANDARD = LVCMOS18; # FPGA_JTAG_TDO, H12
NET "tmso<0>"  LOC = "G14" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # FPGA_JTAG_TMS_PRE_TERM, G14

# Atmel
NET "tcko<1>"  LOC = "T10" | IOSTANDARD = LVCMOS33  | SLEW = SLOW; # UC_JTAG_TCK_PRE_TERM, T10
NET "tdio<1>"  LOC = "P10" | IOSTANDARD = LVCMOS33  | SLEW = SLOW; # UC_JTAG_TDI_PRE_TERM, P10
NET "tdoo<1>"  LOC = "R9" | IOSTANDARD = LVCMOS33; # UC_JTAG_TDO, R9
NET "tmso<1>"  LOC = "R10" | IOSTANDARD = LVCMOS33  | SLEW = SLOW; # UC_JTAG_TMS_PRE_TERM, R10

# SRAM1
NET "tcko<2>"  LOC = "H15" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM1_JTAG_TCK_PRE_TERM, H15
NET "tdio<2>"  LOC = "G16" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM1_JTAG_TDI_PRE_TERM, G16
NET "tdoo<2>"  LOC = "J12" | IOSTANDARD = LVCMOS18; # SRAM1_JTAG_TDO, J12
NET "tmso<2>"  LOC = "H14" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM1_JTAG_TMS_PRE_TERM, H14

# SRAM2
NET "tcko<3>"  LOC = "G15" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM2_JTAG_TCK_PRE_TERM, G15
NET "tdio<3>"  LOC = "F16" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM2_JTAG_TDI_PRE_TERM, F16
NET "tdoo<3>"  LOC = "H13" | IOSTANDARD = LVCMOS18; # SRAM2_JTAG_TDO, H13
NET "tmso<3>"  LOC = "H16" | IOSTANDARD = LVCMOS18  | SLEW = SLOW; # SRAM2_JTAG_TMS_PRE_TERM, H16

NET "LED<0>" LOC = "R1"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ; # CPLD_LED0, R1
NET "LED<1>" LOC = "N4"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ; # CPLD_LED1, N4

NET "reset_switch"  LOC = "N2" | IOSTANDARD = LVCMOS33; # CPLD_MANUAL_RST, N2
NET "cpld_por" LOC = "M3" | IOSTANDARD = LVCMOS33; # CPLD_PWR_UP_RST_A, M3

NET "cpld_clk_100mhz" LOC = "M2" | IOSTANDARD = LVCMOS33 | TNM_NET = "cpld100_clk" ; # CPLD_PWR_UP_RST_B, M2
timespec ts_cpld100_clk = period "cpld100_clk" 8 ns ;

net "sel<*>" IOSTANDARD = LVCMOS18 | PULLUP;
net "sel<0>" LOC = "A2"; # CPLD_SW0, A2
net "sel<1>" LOC = "A3"; # CPLD_SW1, A3
net "sel<2>" LOC = "A4"; # CPLD_SW2, A4
net "sel<3>" LOC = "B5"; # CPLD_SW3, B5
net "sel<4>" LOC = "A5"; # CPLD_SW4, A5
net "sel<5>" LOC = "E8"; # CPLD_SW5, E8
net "sel<6>" LOC = "B6"; # CPLD_SW6, B6
net "sel<7>" LOC = "C7"; # CPLD_SW7, C7

net cpld2fpga_a<*> IOSTANDARD = LVCMOS18 | SLEW = SLOW;
net cpld2fpga_a<1> LOC = "G11";
net cpld2fpga_a<2> LOC = "C14";
net cpld2fpga_a<3> LOC = "B15";
net cpld2fpga_a<4> LOC = "A16";
net cpld2fpga_a<5> LOC = "G13";
net cpld2fpga_a<6> LOC = "E15";
net cpld2fpga_a<7> LOC = "D15";
net cpld2fpga_a<8> LOC = "B16";
net cpld2fpga_a<9> LOC = "A14";
net cpld2fpga_a<10> LOC = "E14";
net cpld2fpga_a<11> LOC = "C16";
net cpld2fpga_a<12> LOC = "F14";
net cpld2fpga_a<13> LOC = "F13";
net cpld2fpga_a<14> LOC = "C13";
net cpld2fpga_a<15> LOC = "B14";
net cpld2fpga_a<16> LOC = "B13";

net cpld2fpga_d<*> IOSTANDARD = LVCMOS18 | SLEW = SLOW;
net cpld2fpga_d<0> LOC = "E13";
net cpld2fpga_d<1> LOC = "A13";
net cpld2fpga_d<2> LOC = "D13";
net cpld2fpga_d<3> LOC = "B12";
net cpld2fpga_d<4> LOC = "C12";
net cpld2fpga_d<5> LOC = "A15";
net cpld2fpga_d<6> LOC = "C11";
net cpld2fpga_d<7> LOC = "A12";
net cpld2fpga_d<8> LOC = "B11";
net cpld2fpga_d<9> LOC = "D11";
net cpld2fpga_d<10> LOC = "A11";
net cpld2fpga_d<11> LOC = "D10";
net cpld2fpga_d<12> LOC = "B10";
net cpld2fpga_d<13> LOC = "E12";
net cpld2fpga_d<14> LOC = "F12";
net cpld2fpga_d<15> LOC = "B9";

net cpld2fpga_ebi_nwe_0 LOC = "G3" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # CPLD2FPGA_EBI_NWE_0_PRE_TERM, G3
net cpld2fpga_ebi_nrd LOC = "F5" | IOSTANDARD = LVCMOS18 | SLEW = SLOW;# CPLD2FPGA_EBI_NRD_PRE_TERM, F5
# EBI signals (to FPGA) repurposed to IPBus control
net cpld2fpga_ipbus_new LOC = "G5" | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
net cpld2fpga_ipbus_done LOC = "G4" | IOSTANDARD = LVCMOS18 | SLEW = SLOW;

net fpga_cclk LOC = "E3" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_CCLK_PRE_TERM, E3
net fpga_csi_b LOC = "D2" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_CSI_B_PRE_TERM, D2
net fpga_cpld_clk LOC = "E2" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_CPLD_CLK_PRE_TERM, E2
net fpga_fcs_b LOC = "B2" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_FCS_B, B2
net fpga_rdwr_b LOC = "D4" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_RDWR_B_PRE_TERM, D4
net fpga_emc_clk LOC = "C1" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_EMC_CLK_PRE_TERM, C1

net fpga_init_b LOC = "B1" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_INIT_B, B1
net fpga_prog_b LOC = "E5" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_PROG_B, E5
net fpga_done LOC = "E4" | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_DONE, E4

net fpga_mode<0> LOC = "B4"  | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_MODE_0, B4
net fpga_mode<1> LOC = "C4"  | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_MODE_1, C4
net fpga_mode<2> LOC = "B3"  | IOSTANDARD = LVCMOS18 | SLEW = SLOW; # FPGA_MODE_2, B3

net spi_sclk LOC = "J5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net spi_cs_b LOC = "J1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net spi_dq<*> IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net spi_dq<0> LOC = "J4";
net spi_dq<1> LOC = "K1";
net spi_dq<2> LOC = "J3";
net spi_dq<3> LOC = "J2";

net atmel_ebi_a<*> IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_ebi_a<0> LOC = "M12";
net atmel_ebi_a<1> LOC = "L13";
net atmel_ebi_a<2> LOC = "L15";
net atmel_ebi_a<3> LOC = "N10";
net atmel_ebi_a<4> LOC = "M11";
net atmel_ebi_a<5> LOC = "N11";
net atmel_ebi_a<6> LOC = "R12";
net atmel_ebi_a<7> LOC = "T15";
net atmel_ebi_a<8> LOC = "R14";
net atmel_ebi_a<9> LOC = "N13";
net atmel_ebi_a<10> LOC = "R13";
net atmel_ebi_a<11> LOC = "P13";
net atmel_ebi_a<12> LOC = "P14";
net atmel_ebi_a<13> LOC = "P15";
net atmel_ebi_a<14> LOC = "M14";
net atmel_ebi_a<15> LOC = "L14";
net atmel_ebi_a<16> LOC = "N16";
net atmel_ebi_a<17> LOC = "P16";
net atmel_ebi_a<18> LOC = "M13";
net atmel_ebi_a<19> LOC = "M15";

net atmel_ebi_d<*> IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_ebi_d<0> LOC = "R15";
net atmel_ebi_d<1> LOC = "M7";
net atmel_ebi_d<2> LOC = "R7";
net atmel_ebi_d<3> LOC = "N7";
net atmel_ebi_d<4> LOC = "T5";
net atmel_ebi_d<5> LOC = "P7";
net atmel_ebi_d<6> LOC = "T4";
net atmel_ebi_d<7> LOC = "P6";
net atmel_ebi_d<8> LOC = "T3";
net atmel_ebi_d<9> LOC = "M6";
net atmel_ebi_d<10> LOC = "R3";
net atmel_ebi_d<11> LOC = "L12";
net atmel_ebi_d<12> LOC = "K15";
net atmel_ebi_d<13> LOC = "L16";
net atmel_ebi_d<14> LOC = "K14";
net atmel_ebi_d<15> LOC = "M16";

net atmel_ebi_ncs_1 LOC = "N15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_ebi_nrd LOC = "R16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_ebi_nwe_0 LOC = "N14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_ebi_nwe_1 LOC = "T16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;

# The Atmel UC control pins
net atmel_uc<*> IOSTANDARD = LVCMOS33 | SLEW = SLOW;
net atmel_uc<0> LOC = "K4";
net atmel_uc<1> LOC = "L2";
net atmel_uc<2> LOC = "K3";
net atmel_uc<3> LOC = "L1";net atmel_uc<4> LOC = "P5";

