# Common area constraints for MP7

INST "infra/*" AREA_GROUP=ctrl;
INST "ctrl/*" AREA_GROUP=ctrl;
INST "ttc/*" AREA_GROUP=ctrl;
INST "readout/*" AREA_GROUP=readout;
INST "payload/*" AREA_GROUP=payload;

